#canvas_area {
    /* background-image: url("../img/canvasbg.jpg"); */
    border: 1px solid #cccccc;
    width: 100%;
    height: 100%;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    text-align: left;
}

.table_action {
    padding: 5px;
    width: 100%;
    text-align: right;
}

div.vis-button.vis-back,
div.vis-button.vis-connect,
div.vis-button.vis-delete,
div.vis-button.vis-edit {
    border: medium none!important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4)!important;
    text-transform: uppercase!important;
    transition: all 0.4s ease 0s!important;
    border-color: transparent!important;
    color: #444!important;
    -moz-user-select: none!important;
    border-radius: 4px!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-size: 12px!important;
    font-weight: 400!important;
    line-height: 1.42857!important;
    margin-top: 10px!important;
    margin-bottom: 25px!important;
    padding: 6px 6px!important;
    text-align: center!important;
    touch-action: manipulation!important;
    vertical-align: middle!important;
    white-space: nowrap!important;
}
div.vis-button.vis-back div.vis-label,
div.vis-button.vis-connect div.vis-label,
div.vis-button.vis-delete div.vis-label,
div.vis-button.vis-edit div.vis-label {
    margin-top: -7px!important;
}
div.vis-network div.vis-manipulation
div.vis-label, div.vis-network
div.vis-edit-mode div.vis-label{
    margin: -5px 15px 10px 25px;
}
div.vis-network div.vis-manipulation div.vis-button.vis-none {
    margin-top: -15px;
}
div.vis-network div.vis-manipulation div.vis-separator-line {
    width: 0px
}
.mat-tab-links {
    display: table;
    width: 100%;

    .mat-tab-link {
        display: table-cell;
    }
}
md-content  {
    min-height: 500px
}
md-input-container{
    margin: 25px 0 0 0;
}

.os-resource{
    auto:overflow;
    max-height:500px;
    margin: 10px;
    display:inline-block;
}

md-pagination-wrapper{
    width:100%;
}

.odd {
    background-color:#fff;
    margin: 10px 0px;
}
.even {
    background-color:#fff;
    margin: 10px 0px;
}

.md-chips md-chip{
    border-radius:3px;
    background-color:white;
    border:  1px solid rgb(63,81,181)
}
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

div.load-block{
    height: 70%;
    width: 90%;
    font-size: 32px;
    text-align: center;
    padding: 25% 0%;
    position: absolute;
    z-index: 100;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.5);
}
md-icon.spinner{
      animation: rotate 1.4s linear infinite;
      -webkit-animation: rotate 1.4s linear infinite;
      -moz-animation: rotate 1.4s linear infinite;
      height:60px;
      width:60px;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.cg-notify-message.alert-success{
    background-color: #dff0d8;
}
.cg-notify-message.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.cg-notify-message.alert-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.cg-notify-message.alert-info{
    color: #d9edf7;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.mat-tooltip{
    font-size: 12px!important
}
.md-toolbar-tools h2{
    color: #fff;
}

.div-scroll{
    overflow: auto;
    max-height: 500px;
}
.md-nav-bar {
    border-style: none;
    border-width: 0 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-content{
    margin-top: 3%;
    text-align: center;
}
