<md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
    <md-tab label="Properties" >
      <md-content layout-padding>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Floating IP</label>
            <md-select ng-model="$ctrl.floatingipassociation.floatingip_id" required name="floatingip_id" ng-disabled='$ctrl.disable.floatingip_id'>
                <md-option ng-repeat="fip in update.floatingips" ng-value="fip.id">
                    {$ fip.id $}
                </md-option>
            </md-select>
            <div ng-messages="$ctrl.formReference.floatingip_id.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a floating IP.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Port ID</label>
            <md-select ng-model="$ctrl.floatingipassociation.port_id" required name="port_id" ng-disabled='$ctrl.disable.port_id'>
                <md-option ng-repeat="port in update.ports" ng-value="port.id">
                    {$ port.name $}
                </md-option>
            </md-select>
            <div ng-messages="$ctrl.formReference.port_id.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a port.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Fixed IP Address</label>
            <input ng-model="$ctrl.floatingipassociation.fixed_ip_address" name="fixed_ip_address" ng-pattern="validate_ip_address"/>
            <div ng-messages="$ctrl.formReference.fixed_ip_address.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">Please input a valid IP address.</div>
            </div>
        </md-input-container>

      </md-content>
    </md-tab>
    <md-tab label="Depends on">
        <md-content layout-padding>
            <depends-on dependson='dependson'></depends-on>
        </md-content>
    </md-tab>

</md-tabs>