
<label>Depends on
</label>
<md-button class="md-icon-button test-tooltip" aria-label="Refresh">
    <md-tooltip style="font-size:12px !important;" md-direction="right">Check following resources to specify the depends_on relations.</md-tooltip>
    <md-icon
      md-svg-src="{$ basePath $}css/img/icons/ic_help_outline_24px.svg"
      style="width: 16px; height: 16px">
    </md-icon>
</md-button>

<div class="div-scroll">
    <md-input-container class="md-block" flex-gt-xs ng-repeat="node in nodes._data" ng-if="node.id !== selected.id">
        <md-checkbox ng-checked="exists(node.id, dependson)" ng-click="toggle(node.id, dependson)" aria-label="node.label">
         {{ node.label }}
        </md-checkbox>
    </md-input-container>
</div>